$background-color: rgb(233, 233, 233);
$litegray: #cccccc;
$darkgray: #c8c8c8;
$litedark: #494949;
$orange: #ff9e48;
$--color-primary: #ff9e48;

// /* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";
// @import "~element-ui/packages/theme-chalk/src/index";

.card {
  position: relative;
  background-color: bisque;
  .image-box {
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.flex {
  display: flex;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
